@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


/* Containers */
#cabecalho, #principal, #rodape {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;  
  font-family: 'Raleway', sans-serif;
}

/* Header */
#cabecalho{
  display: flex;
  flex-direction: column;
  height: fit-content;  
  align-items: flex-start;

  border: 1px solid;
}

.cabecalho-top{
  min-width: 1136px;
}

.cabecalho-top, .hero-content{
  display: flex;
  justify-content: space-between;
  max-width: 1136px;
  padding: 32px 0 32px 112px;
  margin: 0 auto;
}

.cabecalho-search{
  display: flex;
  align-items: center;
  gap: 32px;
}

.div-input{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F5F5F5;
  gap: 8px;
  width: 393px;
  border-radius: 20px;
  padding: 8px 16px;
}

.search-text{
  background: transparent;
  border: none;
  width:329px;
  font-size: 16px;
  line-height: 18px;
}

.search-text:focus{
  outline: none;
}

.div-input button{
  background: transparent;
  border: none;
}

.btn-login{
  color: #2A7AE4;
  border: 1px solid #2A7AE4;
  padding: 16px;
  width: 182px; 
  height: 51px;
  background: transparent;
  float:right;
}

/* Cabeçalho Hero*/
.hero {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero img {
  box-sizing: border-box;
  width: 99vw;
  height: 100%;
  margin: 0;
}

.hero-content {
  position: absolute;
  box-sizing: border-box;
  width: 1136px;
  color: #FFFFFF;
  bottom: 32px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.hero-content h1, button{  
  text-transform: capitalize;
}

.hero-content h1 {
  font-size: 52px;
  font-weight: 700;
}

.hero-content h2 {
  font-size: 22px;
  font-weight: 400;
}

.hero-content button {
  width: 130px;
  height: 51px;
  padding: 16px;
  background: #2A7AE4;
  font-weight: 400;
  color: #FFFFFF;
  border: none;
}

.hero-content button:hover{
  background: #5595E9
}

/* Main */
#principal{
  margin-top: 64px;
}

.section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1136px;
  margin: 64px auto;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
}

.section-header h1{
  color: #464646;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}

.section-header a {
  display: flex;
  align-items: center;
  color: #2A7AE4;
  text-decoration: none;
  font-weight: 700;
  gap: 8px;
}

.section-cards {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.card {
  display: flex;
  flex-direction: column;  
  align-items: flex-start;
  gap: 8px;
}

.card a {
  text-decoration: none;
  color: #2A7AE4;
  font-weight: 700;
}

.card .preco {
  font-weight: 700;
}

/* Footer */
#rodape{
  position: absolute;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  left: 0;
  width: 100%;
  gap: 32px;
  background: #EAF2FD;
}
.footer-content {
  display: flex;
  align-items: flex-start;
  gap: 112px;
  margin: 64px 152px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-fale-conosco {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-fale-conosco p {
  font-weight: 700;
}

.footer-fale-conosco form{
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.footer-fale-conosco input, .footer-fale-conosco textarea{
  padding: 8px;
  border: 1px solid #46464640;
  outline: none;
  
}

.footer-fale-conosco input {
  padding-top: 16px;
  height: 40px;
}

.footer-fale-conosco textarea {
  resize: none;
}

.input-container,.textarea-container {
  position: relative;
  width:100%;
}

.input-container input, textarea{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
  padding: 8px 8px;
  gap: 16px;
  border-radius: 5px;
}

.input-container label {
  position: absolute;
  color: #46464640;  
  left: 8px;
}

.input-container label {
  font-size: 12px;
  top: 8px;
}

#enviar {
  width: 165px;
  height:51px;
  background: #2A7AE4;
  border: none;
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}


.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}